/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
    -fx-text-fill: blue;
     -fx-font-weight:bold;
    -fx-background-radius:50;
    -fx-background-color: linear-gradient(#FFFFFF 0%, white 50%);    
   
}
#bpane{
	-fx-background-color:azure ;
}
#bar
{
-fx-background-color:azure ;
	
}
.button {
-fx-background-color: white;
}
.button:hover {
	 -fx-text-fill: white;
	-fx-background-color: white;
	-fx-border-color:transparent ;
	 -fx-background-size:200% ;
}
.button:hover {
    -fx-background-color: white;
    -fx-background-size:200% ;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}
.tooltip{
	-fx-background-radius:2 2 2 2;
	 -fx-background-color:rgb(128,128,255) ;
	 -fx-text-fill:white ;
}
#Tracks:hover ,pressed{
	-fx-text-fill: rgb(0,128,255);
}
#Time:hover ,pressed{
	-fx-text-fill: rgb(0,128,255);
}
list-cell:filled:selected:focused, 
.list-cell:filled:selected { 
	-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%); 
	-fx-text-fill: white;
} 

.list-cell:filled:hover { 
	-fx-cell-hover-color: #0093ff;
}